@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    font-size: 75.5%;
}

.lm {
    display: flex;
    justify-content: center;
}

.button-55 {
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 20px 33px 30px -18px;
    box-sizing: border-box;
    color: #7c7c7c;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.header {
    width: 100%;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./img/back.jpg');
    background-position: center;
    background-color: rgb(71, 71, 71, 0.3);
}

.row1 {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 800;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    padding: 0 1.5rem;
    outline: 0;
    border: 0;
    width: 832px;
    height: 62px;
    font-size: 36px;
    font-weight: bold;
}

.search button {
    outline: none;
    border: none;
    height: 62px;
    width: 62px;
    background-color: #fff;
}

.search button:hover {
    background-color: rgb(212, 212, 212);
}

.options {
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options p {
    padding-left: 3rem;
    padding-right: 1rem;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.options select {
    width: 330px;
    height: 58px;
    font-size: 36px;
    font-weight: 600;
    color: rgb(121, 121, 121);
    padding: 0 1.5rem;
    outline: 0;
    border: 0;
    background-color: #fff;
}

.options select:hover {
    background-color: rgb(212, 212, 212);
}

.results {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-top: 21px;
    padding-bottom: 30px;
}

.container {
    width: 97%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 416px));
    grid-gap: 65px;
    box-sizing: border-box;
}

.card {
    background-color: rgb(218, 218, 218);
    position: relative;
    transition: 0.3s;
}

.card:hover {
    transform: scale(0.9);
    transition: 0.4s;
    background-color: #C0C0C0;
}

.pic {
    text-align: center;
    padding: 60px 25%;
}

.pic img {
    box-shadow: 20px 20px 25px rgba(48, 48, 48, 0.6);
    width: 100%;
    height: 300px;
}

.card .bottom {
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.card .bottom .category {
    height: 38px;
    font-size: 28px;
    text-decoration: underline;
    color: rgb(121, 121, 121);
}

.card .bottom .title {
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 800;
}

.card .bottom .author {
    font-size: 28px;
    color: rgb(121, 121, 121);
}

@media (max-width: 1280px) and (min-width:768px ){
    .container {
        width: 97%;
        margin: 0 auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 416px));
        grid-gap: 65px;
        box-sizing: border-box;
    }

    .pic img {
        box-shadow: 20px 20px 25px rgba(48, 48, 48, 0.6);
        width: 100%;
        height: 275px;
    }
}

@media (max-width: 768px) and (min-width:510px){
    .header {
        width: 100%;
        height: 290px;
    }

    .container {
        width: 97%;
        margin: 0 auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 416px));
        grid-gap: 40px;
        box-sizing: border-box;
    }

    .pic img {
        box-shadow: 20px 20px 25px rgba(48, 48, 48, 0.6);
        width: 100%;
        height: 240px;
    }

    .card .bottom .category {
        height: 38px;
        font-size: 25px;
        text-decoration: underline;
        color: rgb(121, 121, 121);
    }
    
    .card .bottom .title {
        font-size: 28px;
        margin-bottom: 12px;
        margin-top: 12px;
        font-weight: 800;
    }
    
    .card .bottom .author {
        font-size: 28px;
        color: rgb(121, 121, 121);
    }

    .row1 {
        padding-top: 15px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 800;
    }
    
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .search input {
        padding: 0 1.5rem;
        outline: 0;
        border: 0;
        width: 550px;
        height: 45px;
        font-size: 25px;
        font-weight: bold;
    }
    
    .search button {
        outline: none;
        border: none;
        height: 45px;
        width: 60px;
        background-color: #fff;
    }
    
    .options {
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .options p {
        padding-left: 2rem;
        padding-right: 1rem;
        font-size: 25px;
        font-weight: 600;
        color: #fff;
    }
    
    .options select {
        width: 180px;
        height: 40px;
        font-size: 25px;
        font-weight: 600;
        color: rgb(121, 121, 121);
        padding: 0 1.5rem;
        outline: 0;
        border: 0;
        background-color: #fff;
    }
    
    .results {
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.336), rgba(0, 0, 0, 0.027));
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner {
    background: linear-gradient(rgb(226, 226, 226), rgb(155, 155, 155));
    box-shadow: 10px 5px 20px rgba(48, 48, 48, 0.6);
    border-radius: 25px;
    width: 800px;
    height: 600px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}

.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h1 {
    font-weight: 800;
}

.overlay-inner .inner-box h3 {
    font-weight: 600;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.overlay-inner .inner-box h4 {
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.overlay-inner .inner-box h5 {
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
    font-weight: 600;
}

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}